body {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    margin-top:40px;
    font-size:3rem;
}

h2{
    margin-bottom:30px;
    color:#cfcfcf;
}

.character-icon {
    height: 150px;
    border-radius: 75%;
    object-fit: cover;
    margin-bottom: 12px;
}

#birthday-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.card{

    width:250px;

    background:#1d2435;

    padding:20px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(255,255,255,.15);

    transition:.3s;

    backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
}

.card h3 {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
}

.card p {
    font-size: 16px;
    margin: 12px 0;
}

.card p:last-child {
    font-size: 17px;
    font-weight: 500;
}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 0 25px rgba(255,255,255,.35);

}
/* ---------- Genshin ---------- */
.pyro {
    background: rgba(255, 0, 0, 0.8);
}

.hydro {
    background: rgba(0, 17, 255, 0.8);
}

.anemo {
    background: rgba(0, 255, 136, 0.8);
}

.electro {
        background: rgba(119, 19, 185, 0.8);
}

.cryo {
    background: rgba(28, 173, 206, 0.8);
}

.dendro {
    background: rgba(60, 199, 22, 0.8);
}

.geo {
    background: rgba(255, 196, 0, 0.8);
}


.pyro:hover {
    background: rgba(255, 0, 0, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(255, 120, 80, 0.7);
}

.hydro:hover {
    background: rgba(0, 17, 255, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(100, 190, 255, 0.7);
}

.anemo:hover {
    background: rgba(21, 173, 102, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(140, 255, 190, 0.7);
}

.electro:hover {
    background: rgba(119, 19, 185, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(200, 120, 255, 0.7);
}

.cryo:hover {
    background: rgba(28, 173, 206, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(170, 240, 255, 0.7);
}

.dendro:hover {
    background: rgba(60, 199, 22, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(150, 255, 120, 0.7);
}

.geo:hover {
    background: rgba(255, 196, 0, 0.45);
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 20px rgba(255, 220, 100, 0.7);
}
/* ---------- ZZZ ---------- */
.fire {
    background: rgba(255,70,50,.8);
}

.ice {
    background: rgba(70,210,255,.8);
}

.electric {
    background: rgba(150,90,255,.8);
}

.physical {
    background: rgba(160,160,160,.8);
}

.ether {
    background: rgba(255,70,255,.8);
}

.wind {
    background: rgba(110,220,180,.8);
}

.auric-ink {
    background: rgba(255,180,50,.8);
}

.honed-edge {
    background: rgba(255,230,120,.8);
}

.frost {
    background: rgba(130,235,255,.8);
}
.fire:hover{
    background: rgba(255,0,0,.45);
    box-shadow: 0 0 20px rgba(255,120,80,.7);
}
.wind:hover{
    background: rgba(21,173,102,.45);
    box-shadow: 0 0 20px rgba(140,255,190,.7);
}
.electric:hover{
    background: rgba(119,19,185,.45);
    box-shadow: 0 0 20px rgba(200,120,255,.7);
}
.ice:hover,
.frost:hover{
    background: rgba(28,173,206,.45);
    box-shadow: 0 0 20px rgba(170,240,255,.7);
}

.physical:hover{
    background: rgba(150,150,150,.45);
    box-shadow: 0 0 20px rgba(220,220,220,.7);
}

.ether:hover{
    background: rgba(255,70,255,.45);
    box-shadow: 0 0 20px rgba(255,160,255,.7);
}

.auric-ink:hover{
    background: rgba(255,180,50,.45);
    box-shadow: 0 0 20px rgba(255,215,90,.7);
}

.honed-edge:hover{
    background: rgba(255,230,120,.45);
    box-shadow: 0 0 20px rgba(255,245,170,.7);
}



.birthday-card {
    border: 3px solid gold;
    box-shadow:
        0 0 15px gold,
        0 0 35px rgba(255,215,0,0.8),
        0 0 60px rgba(255,215,0,0.5);

    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow:
            0 0 10px gold,
            0 0 25px rgba(255,215,0,.6);
    }

    to {
        box-shadow:
            0 0 25px gold,
            0 0 50px rgba(255,215,0,1);
    }
}

#birthday-message{
    color: gold;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

    text-shadow:
        0 0 10px gold,
        0 0 20px rgba(255,215,0,.8);

    animation: glowText 2s infinite alternate;
}

@keyframes glowText{
    from{
        text-shadow:
            0 0 8px gold,
            0 0 20px rgba(255,215,0,.6);
    }

    to{
        text-shadow:
            0 0 15px gold,
            0 0 35px rgba(255,215,0,1);
    }
}